<p>
<%= link_to upload.filename, upload_path(upload), { target: '_blank' } %> 
 - Uploaded at <%= upload.created_at %>
<% if current_user['admin'] == 1  || current_user["email"] == upload.username %>
 - <%= link_to 'Delete', upload_path(upload),
              method: :delete,
              data: { confirm: 'Are you sure?' } %>
<% end %>
</p>