<tr class="uploadrow">
<td><%= link_to upload.upload_file_name, upload_path(upload), { target: '_blank' } %> </td>
<td><%= upload.created_at %></td>
<td><%= upload.username %></td>
<td>
<% if @current_user['admin'] == 1  || @current_user["email"] == upload.username %>
  <%= link_to upload_path(upload), method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger" do %>
    <span class="glyphicon glyphicon-trash" aria-hidden="true"></span> Delete
  <% end %>
<% end %>
</td>
</tr>